
.shiny-progress-container {
  position: fixed;
  top: 30%;
  width: 100%;
	height: 200%;
  z-index: 2000;
}

.shiny-progress .progress {
  position: absolute;
  right: 0px;
  width: 450px;
  top: 0px;
  height: 8px;
  margin: 0px;
}

.shiny-progress .bar {
  background-color: #397AB9;
  .opacity = 0.8;
  transition-duration: 250ms;
}

.shiny-progress .progress-text {
    position: absolute;
    right: 10px;
    height: 30px;
    width: 430px;
    background-color: #ffffff;
    padding-top: 2px;
    padding-right: 3px;
    padding-bottom: 2px;
    padding-left: 3px;
    opacity: 1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.progress-text {
    top: 15px !important;
    color: #6c6e70 !important;
    text-align: left;
}

.shiny-progress .progress-text .progress-message {
    padding-top: 0px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 14px;
}

.shiny-progress .progress-text .progress-detail {
    padding-top: 0px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    font-size: 10px;
}

pre {
  white-space: pre-wrap;
  font-size: 14px;
  word-wrap: break-word;
  word-break:keep-all;
}

strong {
	color:red;
}
